/* .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } 
*/
/* Default class applied to drop zones on over */
/* .another-file-over-class { border: dotted 3px green; }
html, body { height: 100%; }  */

img.img-thumbnail {
    height: 100px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

.not-approved {
    opacity: 0.2;
}

.img-wrapper {
    position: inherit;
}

.img-text {
    position: absolute;
    bottom: 30%;
}