<div class="form-group">
    <input type="text"
           [class.is-invalid]='!ngControl.valid && ngControl.touched'
           [class.is-valid]='ngControl.valid && ngControl.touched'
           class="form-control"
           [formControl]="ngControl.control"
           placeholder="{{label}}"
           bsDatepicker
           [bsConfig]="bsConfig"
           [maxDate]="maxDate"
           >
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">{{label}} is required</div>
    <div class="valid-feedback"></div>
</div>